.--header {
  height: 4.375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--branco);
}

.--search-bar {
  flex-grow: 1;
  padding: 0 1rem;
}

.--usuario-card {
  width: 3.75rem;
}
