.layout-container {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 345px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  box-sizing: border-box;
}

main {
  flex: 1;
  overflow-y: auto;
  margin: 0;
  background-color: var(--content);
}
