/*  grid base do projeto */
.layout-container {
  display: grid;
  grid-template-columns: 345px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar main-content"
    "sidebar main-content";
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  color: #fff;
  height: 100%;
  width: 345px;
}

header {
  grid-area: header;
}

.main-content {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "content";
}

main {
  grid-area: content;
}
