<app-content>
  <app-content-title>
    <h1 class="--title">Olá Fábio,</h1>
    <h2 class="--sub-title">Bem-vindo ao seu gestor de tarefas!</h2>
  </app-content-title>
  <div class="--grid-container-progresso">
    <app-cartao-progresso class="--grid-item-progresso"></app-cartao-progresso>
    <app-cartao-progresso class="--grid-item-progresso"></app-cartao-progresso>
    <app-cartao-progresso class="--grid-item-progresso"></app-cartao-progresso>
  </div>
  <app-grafico></app-grafico>
</app-content>
