.--content {
  padding: 4.813rem 1.875rem;
  background-color: var(--content);
}

.--grid-container-progresso {
  display: grid;
  width: 100%;
  gap: 3.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.--grid-item-progresso {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
}

/* telas médias */
@media (max-width: 768px) {
  .--grid-container-progresso {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* telas pequenas */
@media (max-width: 480px) {
  .--grid-container-progresso {
    grid-template-columns: 1fr;
  }

  .--grid-item-progresso {
    margin-top: 1rem;
  }
}
