.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  margin-top: 10px;
}

input {
  margin-bottom: 10px;
}
