.--link {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.--link a {
  color: var(--branco);
  text-decoration: none;
}

.--icone {
  color: var(--branco);
  margin-right: 0.3rem;
}

.--ativo {
  font-weight: 600;
  background-color: var(--roxo-link-ativo);
}
